.books-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 0 1rem;
}

.book {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
  margin-bottom: 10rem;
  border-radius: 3px;
  background: radial-gradient(
    70rem circle at 50% 50%,
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  background-color: var(--book-color);
  color: var(--book-text-color);
}

.book img {
  width: 300px;
  height: 400px;
}

.book-footer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-size: larger;
}

.category {
  margin-top: 2rem;
}
