:root {
  --background-color: #bab0ac;
  --text-color: #4e79a7;
  --book-color: #76b7b2;
  --book-text-color: #e15759;
  --navbar-color: #9c755f;
}

body {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

footer {
  margin-top: auto;
}

.header {
  display: flex;
  flex-direction: column;
}

.header h1 {
  text-align: center;
  padding: 1rem 0;
}

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.nav-item {
  width: 100%;
  height: 3rem;
}

.main-nav button {
  background-color: var(--navbar-color);
}

.main-nav button:hover {
  opacity: 50%;
}

.contact-info {
  display: flex;
  margin-top: 2rem;
  height: 10%;
  width: 100%;
  align-items: center;
  justify-content: center;
  outline: black solid 1px;
  text-align: center;
  padding: 0.2rem;
}

@media screen and (min-width: 600px) {
  .main-nav {
    flex-direction: row;
  }
}
